@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --successColor: #4caf50;
  --errorColor: #f44336;
  --warningColor: #f09c00;

  --grayColor: #b4b4b4;
  --darkGrayColor: #787878;
  --darkerGrayColor: #505050;
  --lightGrayColor: #d2d2d2;

  --darkBgColor: #1c1d31;
  --darkDialogColor: #333446;

  --whiteColor: #ffffff;
  --blackColor: #000000;

  --primaryTextColor: #dddddd;
  --primaryColor: #e3096f;
  --primaryLightColor: #dd5896;

  --linkColor: #1056be;

  --primaryGradient: linear-gradient(to right, #1c1d31, #203246);
  --boxGradient: linear-gradient(120deg, var(--darkDialogColor), #203246);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: var(--primaryLightColor);

  &:hover {
    color: var(--primaryColor);
  }
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.app {
  font-family: var(--primaryFontFace);
}

.spacer {
  width: 10rem;

  @media screen and (max-width: 768px) {
    width: 0;
    height: 2rem;
  }
}

.app__flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__row {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.flex__column {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1600px) {
    flex-direction: row;
  }
}

.app__box__form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  background: var(--darkDialogColor);
  background: var(--boxGradient);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  .title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    background: transparent;
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
  }
}

.app__box_container {
  position: relative;
  width: 100%;
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--darkDialogColor);
  background: var(--boxGradient);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  overflow: hidden;

  .title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.app__page_heading {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  word-spacing: 0.25rem;
  color: var(--whiteColor);

  span {
    color: var(--primaryColor);
  }

  @media screen and (min-width: 1600px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.app__loading_text {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--whiteColor);
  margin: 2rem 0;
}

.app__error_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  overflow: hidden;
  margin: 2rem auto;
  transition: all 0.5s ease-in-out;

  p {
    color: var(--errorColor);
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
  }
}

.app__form_control {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  height: 3.75rem;
  margin: 1rem auto;

  span {
    margin-right: 0.5rem;
  }

  input,
  select,
  textarea {
    background-color: transparent;
    width: 100%;
    height: 100%;
    max-height: 4rem;
    border: 0.1rem solid var(--darkGrayColor);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--primaryFontFace);
    font-weight: 400;

    padding: 0.5rem 1rem;
    color: var(--primaryTextColor);
    outline: none;

    &:focus {
      border-color: var(--whiteColor);
    }
  }

  textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .password_toggle_btn {
    position: absolute;
    right: 0.75rem;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    height: 3.5rem;
  }
}

.app__outlined_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: var(--primaryColor);
  border: 0.12rem solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--primaryFontFace);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    border-color: var(--primaryLightColor);
    color: var(--primaryLightColor);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.15rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.app__filled_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  outline: none;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  border: 0.12rem solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--primaryFontFace);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: var(--primaryLightColor);
    border-color: var(--primaryLightColor);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.15rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.app__text_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: var(--primaryColor);
  border: none;
  font-size: 1.15rem;
  text-transform: capitalize;
  font-family: var(--primaryFontFace);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--primaryLightColor);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}
