@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryColor: #e3096f;
  --primaryLightColor: #e3096f99;

  --linkColor: #2566c9;
  --linkColorHover: #2567c993;

  --boxGradient: linear-gradient(120deg, var(--darkDialogColor), #203246);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: var(--linkColor);

  &:hover {
    color: var(--linkColorHover);
  }
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

#root,
.content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  position: relative;
  font-family: Poppins, sans-serif;
}

.spacer {
  width: 10rem;

  @media screen and (max-width: 768px) {
    width: 0;
    height: 2rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.025rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

span {
  font-size: 0.755rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 0.785rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.655rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.625rem;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 2.525rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 2.25rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 2.025rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.75rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.35rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.45rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.15rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.275rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1.05rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.075rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.025rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}

h6 {
  font-size: 0.875rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.75rem;
  }
}

.app__flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__row {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.flex__column {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1600px) {
    flex-direction: row;
  }
}

.app__box__form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  padding: 1rem 2rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  .title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    background: transparent;
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
  }
}

.app__box_container {
  position: relative;
  width: 100%;
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  overflow: hidden;

  .title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.app__page_heading {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  word-spacing: 0.25rem;
  color: var(--whiteColor);

  span {
    color: var(--primaryColor);
  }

  @media screen and (min-width: 1600px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.app__loading_text {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--whiteColor);
  margin: 2rem 0;
}

.app__error_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  overflow: hidden;
  margin: 2rem auto;
  transition: all 0.5s ease-in-out;

  p {
    color: var(--errorColor);
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
  }
}

.app__form_control {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  height: 3.75rem;
  margin: 1rem auto;

  span {
    margin-right: 0.5rem;
  }

  input,
  select,
  textarea {
    background-color: transparent;
    color: var(--primaryColor);
    width: 100%;
    height: 100%;
    max-height: 4rem;
    border: 0.1rem solid #666666;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;

    padding: 0.5rem 1rem;
    outline: none;

    &:focus {
      border-color: var(--primaryColor);
    }
  }

  textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .password_toggle_btn {
    position: absolute;
    right: 0.75rem;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    height: 3.5rem;
  }
}

.app__outlined_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.75rem;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: var(--primaryColor);
  border: 0.12rem solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    border-color: var(--primaryLightColor);
    color: var(--primaryLightColor);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.025rem;
  }

  @media screen and (max-width: 900px) {
    height: 3.5rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.app__filled_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.75rem;
  text-decoration: none;
  outline: none;
  background-color: var(--primaryColor);
  color: #fafafa;
  border: 0.12rem solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    opacity: 0.75;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.025rem;
  }

  @media screen and (max-width: 900px) {
    height: 3.5rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.app__text_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: var(--primaryColor);
  border: none;
  font-size: 1.05rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--primaryLightColor);
  }

  @media screen and (max-width: 900px) {
    font-size: 1rem;
  }
}

.carousel__img {
  height: 24rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 900px) {
    height: 20rem;
  }

  @media screen and (max-width: 600px) {
    height: 16rem;
  }
}

.carousel__btn {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  border-radius: 50%;
  padding: 0.75rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.08);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carousel__btn_prev {
  left: 0;
}

.carousel__btn_next {
  right: 0;
}
